@model IEnumerable<ApartmentApps.Data.Unit>

@{
    ViewBag.Title = "Index";
}
<style type='text/css'>
    /*設定 數字靠右*/
    td:nth-child(3){text-align: right;}
    td:nth-child(4){text-align: right;}
</style>
<h2>Index</h2>
<h4>Unit</h4>
<p>
    @Html.ActionLink("Create New", "UnitCreate")
</p>
<table class="table">
    <tr>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.Building.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "UnitEdit", new { id=item.Id })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Building.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>

    </tr>
}

</table>
