@using ApartmentApps.Api.Modules
@using ApartmentApps.Data
@using Microsoft.AspNet.Identity

@{
    var property = ViewBag.Property as Property;
    var properties = ViewBag.Properties as Property[];
    var menuItems = ViewBag.MenuItems as List<MenuItemViewModel>;
}


@helper item(MenuItemViewModel vm, bool isRoot)
{
var expanded = vm.HasChildren ? Html.IsSelectedBool(controller: vm.Controller ?? vm.Children.FirstOrDefault()?.Controller) : Html.IsSelectedBool(controller: vm.Controller, action: vm.Action);

    <li class="@(expanded ? "active" : "")">
        <a href="@(vm.IsUrl ? vm.Action : Url.Action(vm.Action, vm.Controller, vm.RouteParams))" aria-expanded="@(expanded ? "true":"false")">
            @if (vm.HasChildren)
            {
                <i class="fa fa-fw @vm.Icon"></i>
                <span class="nav-label">@vm.Label</span>
                <span class="fa arrow"></span>
            }
            else
            {
                <i class="fa fa-fw @vm.Icon"></i>
                if (isRoot) 
                {
                 <span class="nav-label">@vm.Label</span>   
                } else {
                     @vm.Label   
                }
                 
            }
        </a>
        @if (vm.HasChildren)
        {
            <ul class="nav nav-second-level collapse" aria-expanded="@(expanded ? "true":"false")">
                @foreach (var menuItem in vm.Children.OrderBy(p => p.Index))
                {
                    @item(menuItem, false)
                }
            </ul>
        }
    </li>
}
<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">

        @*<ul class="nav" id="side-menu">
                <li class="active">
                    <a href="#" aria-expanded="true">
                        <span class="sidebar-nav-item-icon fa fa-github fa-lg"></span>
                        <span class="sidebar-nav-item">metisMenu</span>
                        <span class="fa arrow fa-fw"></span>
                    </a>
                    <ul aria-expanded="true">
                        <li>
                            <a href="https://github.com/onokumus/metisMenu">
                                <span class="sidebar-nav-item-icon fa fa-code-fork fa-fw"></span>
                                Fork
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/onokumus/metisMenu">
                                <span class="sidebar-nav-item-icon fa fa-star fa-fw"></span>
                                Star
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/onokumus/metisMenu/issues">
                                <span class="sidebar-nav-item-icon fa fa-exclamation-triangle fa-fw"></span>
                                Issues
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#" aria-expanded="false">Menu 0 <span class="fa arrow fa-fw"></span></a>
                    <ul aria-expanded="false">
                        <li><a href="#">item 0.1</a></li>
                        <li><a href="#">item 0.2</a></li>
                        <li><a href="http://onokumus.com">onokumus</a></li>
                        <li><a href="#">item 0.4</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#" aria-expanded="false">Menu 1 <span class="glyphicon arrow"></span></a>
                    <ul aria-expanded="false">
                        <li><a href="#">item 1.1</a></li>
                        <li><a href="#">item 1.2</a></li>
                        <li>
                            <a href="#" aria-expanded="false">Menu 1.3 <span class="fa plus-times"></span></a>
                            <ul aria-expanded="false">
                                <li><a href="#">item 1.3.1</a></li>
                                <li><a href="#">item 1.3.2</a></li>
                                <li><a href="#">item 1.3.3</a></li>
                                <li><a href="#">item 1.3.4</a></li>
                            </ul>
                        </li>
                        <li><a href="#">item 1.4</a></li>
                        <li>
                            <a href="#" aria-expanded="false">Menu 1.5 <span class="fa plus-minus"></span></a>
                            <ul aria-expanded="false">
                                <li><a href="#">item 1.5.1</a></li>
                                <li><a href="#">item 1.5.2</a></li>
                                <li><a href="#">item 1.5.3</a></li>
                                <li><a href="#">item 1.5.4</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#" aria-expanded="false">Menu 2 <span class="glyphicon arrow"></span></a>
                    <ul aria-expanded="false">
                        <li><a href="#">item 2.1</a></li>
                        <li><a href="#">item 2.2</a></li>
                        <li><a href="#">item 2.3</a></li>
                        <li><a href="#">item 2.4</a></li>
                    </ul>
                </li>
            </ul>*@
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header" style='background-image: url("@Url.Content("~/Content/Images/rsz_parcland-1.png")") !important; background-size: 100% 100%;'>
                <div class="dropdown profile-element">
                    @if (Request.IsAuthenticated)
                    {
                        <a href="#">
                            <span class="clear">
                                <span class="block m-t-xs">
                                    @if (User.IsInRole("Admin"))
                                    {
                                        <h2 class="font-normal" style="margin: 0px;"><a href="@Url.Action("Index", "Property")">@property.Name</a></h2>
                                    }
                                    else
                                    {
                                        <h2 class="font-normal" style="margin: 0px;">@property.Name</h2>
                                    }

                                </span>
                            </span>
                        </a>
                        <a href="#">
                            <span class="clear">
                                <span class="block m-t-xs">
                                    <strong class="font-bold">@User.Identity.GetUserName()</strong>
                                </span>
                            </span>
                        </a>
                    }
                   
                </div>
                <div class="logo-element">
                    AA+
                </div>
            </li>
            @if (menuItems != null){
                foreach(var mi in menuItems.OrderBy(p => p.Index))
                {
                        @item(mi, true)
                }
            }

        </ul>
    </div>
</nav>
