@using ApartmentApps.Data
@{
    var property = ViewBag.Property as Property;
    var properties = ViewBag.Properties as Property[];
}

<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="clear">
                            <span class="block m-t-xs">
                                <strong class="font-bold">@property.Name</strong>
                            </span>
                            @if (User.IsInRole("Admin"))
                            {
                                <span class="text-muted text-xs block">Change Property <b class="caret"></b></span>
                            }
                        </span>
                    </a>
                    @if ((User.IsInRole("Admin") || User.IsInRole("RegionalAdmin")) && properties != null)
                    {
                        <ul class="dropdown-menu animated fadeInRight m-t-xs">
                            @foreach (var p in properties)
                            {
                                <li><a href="@Url.Action("ChangeProperty", "Account", new {id = p.Id})">@p.Name</a></li>
                            }
                        </ul>
                    }
                </div>
                <div class="logo-element">
                    AA+
                </div>
            </li>
            @if (User.IsInRole("PropertyAdmin") || User.IsInRole("RegionalAdmin"))
            {
                <li class="@Html.IsSelected(controller: "Dashboard")">
                    <a href="@Url.Action("Index", "Dashboard")"><i class="fa fa-laptop"></i> <span class="nav-label">Dashboard</span> </a>
                </li>
            }
            <li>
                <a href="index.html"><i class="fa fa-th-large"></i> <span class="nav-label">Maintenance</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse in">
                    <li class="@Html.IsSelected(controller: "MaitenanceRequests", action: "NewRequest")">
                        <a href="@Url.Action("NewRequest", "MaitenanceRequests")"><i class="fa fa-desktop"></i> <span class="nav-label">New Request</span></a>
                    </li>
                    @if (User.IsInRole("PropertyAdmin"))
                    {
                        <li class="@Html.IsSelected(controller: "MaitenanceRequests", action: "Index")">
                            <a href="@Url.Action("Index", "MaitenanceRequests")"><i class="fa fa-desktop"></i> <span class="nav-label">Requests</span></a>

                        </li>
                    }
                </ul>
            </li>
            <li>
                <a href="index.html"><i class="fa fa-th-large"></i> <span class="nav-label">Incidents</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse in">
                    <li class="@Html.IsSelected(controller: "IncidentReports", action: "NewRequest")">
                        <a href="@Url.Action("NewRequest", "IncidentReports")"><i class="fa fa-desktop"></i> <span class="nav-label">New Report</span></a>
                    </li>
                    @if (User.IsInRole("PropertyAdmin"))
                    {
                        <li class="@Html.IsSelected(controller: "IncidentReports", action: "Index")">
                            <a href="@Url.Action("Index", "IncidentReports")"><i class="fa fa-desktop"></i> <span class="nav-label">Reports</span></a>
                        </li>
                    }
                </ul>
            </li>


            @if (User.IsInRole("PropertyAdmin"))
            {
                <li>
                    <a href="index.html"><i class="fa fa-th-large"></i> <span class="nav-label">Check-ins</span> <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse in">
                        <li class="@Html.IsSelected(controller: "CourtesyOfficer", action: "Index")">
                            <a href="@Url.Action("Index", "CourtesyOfficer")"><i class="fa fa-desktop"></i> <span class="nav-label">Today</span></a>
                        </li>
                      
                        <li class="@Html.IsSelected(controller: "CourtesyOfficer", action: "Yesterday")">
                            <a href="@Url.Action("Yesterday", "CourtesyOfficer")"><i class="fa fa-desktop"></i> <span class="nav-label">Yesterday</span></a>
                        </li>
                        <li class="@Html.IsSelected(controller: "CourtesyOfficer", action: "ThisWeek")">
                            <a href="@Url.Action("ThisWeek", "CourtesyOfficer")"><i class="fa fa-desktop"></i> <span class="nav-label">This Week</span></a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="index.html"><i class="fa fa-th-large"></i> <span class="nav-label">Settings</span> <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse in">


                        <li class="@Html.IsSelected(controller: "Buildings")">
                            <a href="@Url.Action("Index", "Buildings")"><i class="fa fa-desktop"></i> <span class="nav-label">Buildings</span></a>
                        </li>
                        @*<li class="@Html.IsSelected(controller: "Tenants")">
                                <a href="@Url.Action("Index", "Tenants")"><i class="fa fa-desktop"></i> <span class="nav-label">Tenants</span></a>
                            </li>*@
                        <li class="@Html.IsSelected(controller: "Units")">
                            <a href="@Url.Action("Index", "Units")"><i class="fa fa-desktop"></i> <span class="nav-label">Units</span></a>
                        </li>
                        <li class="@Html.IsSelected(controller: "UserManagement")">
                            <a href="@Url.Action("Index", "UserManagement")"><i class="fa fa-desktop"></i> <span class="nav-label">Users</span></a>
                        </li>
                        <li class="@Html.IsSelected(controller: "CourtesyOfficerLocations")">
                            <a href="@Url.Action("Index", "CourtesyOfficerLocations")"><i class="fa fa-desktop"></i> <span class="nav-label">Checkin Locations</span></a>
                        </li>
                    </ul>
                </li>

            }
            @if (User.IsInRole("Admin"))
            {
                <li>
                    <a href="index.html"><i class="fa fa-th-large"></i> <span class="nav-label">Admin</span> <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse in">
                        <li class="@Html.IsSelected(controller: "Corporations")">
                            <a href="@Url.Action("Index", "Corporations")"><i class="fa fa-desktop"></i> <span class="nav-label">Corporations</span></a>
                        </li>
                        <li class="@Html.IsSelected(controller: "Property")">
                            <a href="@Url.Action("Index", "Property")"><i class="fa fa-desktop"></i> <span class="nav-label">Properties</span></a>
                        </li>
                        <li class="@Html.IsSelected(controller: "PropertyEntrataInfo")">
                            <a href="@Url.Action("Index", "PropertyEntrataInfo")"><i class="fa fa-desktop"></i> <span class="nav-label">Entrata Accounts</span></a>
                        </li>
                    </ul>
                </li>
            }
        </ul>
    </div>
</nav>