@model UserFormModel
@{
    Layout = "~/Views/Shared/_LayoutDialog.cshtml";
}


@using (Html.BeginForm("SaveUser", "UserManagement"))
{
    @Html.AntiForgeryToken()


    <div class="form-horizontal">

        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)


        <div class="form-group">

            <div class="col-md-10">
                @Html.CheckBoxListFor(p => p.SelectedRoles, p => p.RolesList, p => p, p => p, p => p.SelectedRoles)

            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.FirstName, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.FirstName)
                @Html.ValidationMessageFor(model => model.FirstName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LastName, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.LastName)
                @Html.ValidationMessageFor(model => model.LastName)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Email, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email)
                @Html.ValidationMessageFor(model => model.Email)
            </div>
        </div>




        <div class="form-group">
            @Html.LabelFor(model => model.PhoneNumber, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.PhoneNumber)
                @Html.ValidationMessageFor(model => model.PhoneNumber)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UnitId, "Unit", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EJ().DropDownListFor(s => s.UnitId).Datasource(Model.UnitItems).DropDownListFields(s => s.Value("Id").Text("SearchAlias")).EnableFilterSearch()
                @Html.ValidationMessageFor(model => model.UnitId)
            </div>
        </div>




        @*<div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-primary" />
                @Html.ActionLink("Cancel", "Index", null, new {@class = "btn btn-white"})
            </div>
        </div>*@
    </div>



}
@if (IsAjax)
{
    @Html.EJ().ScriptManager()
}

@Scripts.Render("~/bundles/jqueryval")
