@model ApartmentApps.Forms.GridList<ApartmentApps.Api.ViewModels.UserBindingModel>
@using ApartmentApps.Api.Modules
@using ApartmentApps.Data
@using Korzh.EasyQuery.Mvc
@using Korzh.EasyQuery.Services
@{
    var property = ViewBag.Property as Property;
}

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-lg-6">
            <div class="ibox">
                <div class="ibox-content">
                    <div class="col-sm-3">
                        <div class="text-center">
                            <img alt="image" class="img-circle m-t-xs img-responsive" src="@item.ImageThumbnailUrl">
                            <div class="m-t-xs font-bold">@(string.Join(", ", item.Roles))</div>
                        </div>
                    </div>
                    <div class="col-sm-9">
                        @Html.Partial("_ActionLinks", item)


                        <h3>
                            <a href="@Url.Action("UserFeed", "Dashboard", new {id = @item.Id})" class="pull-left">
                                <strong>@item.FirstName @item.LastName</strong>
                            </a>


                        </h3>


                        
                        <br/>
                        <a href="mailto:@(item.Email)">@item.Email</a><br/>
                        <p>
                            <i class="fa fa-map-marker"></i> @item.BuildingName - @item.UnitName<br>
                        </p>
                        <address>

                            @item.Address<br/>
                            @item.City @item.PostalCode<br/>
                            <abbr title="Phone">Phone:</abbr> @item.PhoneNumber
                        </address>
                    </div>
                    <div class="clearfix"></div>

                </div>
            </div>
        </div>

    }
</div>
<div class="row">
    <div class="col-md-12 text-center">
            @Html.PageNavigator(Model as IPaging)
    </div>
</div>

