@model ApartmentApps.Forms.GridList<ApartmentApps.Api.ViewModels.UserBindingModel>
@using ApartmentApps.Api.Modules
@using ApartmentApps.Data
@using Korzh.EasyQuery.Mvc
@using Korzh.EasyQuery.Services
@{
    var property = ViewBag.Property as Property;
}

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-lg-6">
            <div class="ibox">
                <div class="ibox-content">
                    <div class="col-sm-3">
                        <div class="text-center">
                            <img alt="image" class="img-circle m-t-xs img-responsive" style="width: 75px; height: 75px" src="@item.ImageThumbnailUrl">
                            <div class="m-t-xs font-bold"></div>
                        </div>
                    </div>
                    <div class="col-sm-9">
                        @Html.Partial("_ActionLinks", item)


                        <h3>
                            <a href="@Url.Action("UserFeed", "Dashboard", new {id = @item.Id})" class="pull-left">
                                <strong>@item.FirstName @item.LastName</strong>
                            </a>
                        </h3>
                        <br/>
                        <small class="font-bold">@(string.Join(", ", item.Roles))</small>
                        <br/>
                        <br/>
                        <ul class="list-unstyled">
                            <li><a href="mailto:@(item.Email)"><i class="fa fa-fw fa-envelope-o"></i> @item.Email</a></li>
                            <li><i class="fa fa-fw fa-phone"></i> @(item.PhoneNumber ?? "-")</li>
                            <li><i class="fa fa-fw fa-map-marker"></i> @item.BuildingName - @item.UnitName</li>
                        </ul>
                        <address>
                            @item.Address<br/>
                            @item.City @item.PostalCode<br/>
                        </address>
                    </div>
                    <div class="clearfix"></div>

                </div>
                <div class="ibox-footer">
                    <div class="row">
                        <div class="col-md-6"><small><!--SMALL CONTROL--></small></div>
                        <div class="col-md-6"><small class="pull-right"><!--SMALL CONTROL--></small ></div>
                    </div>
                </div>
            </div>
        </div>

    }
</div>
<div class="row">
    <div class="col-md-12 text-center">
            @Html.PageNavigator(Model as IPaging)
    </div>
</div>

