@using ApartmentApps.Portal.Controllers
@model ApartmentApps.Modules.Payments.BindingModels.CancelInvoiceBindingModel

<div class="page-header">
    <h1 class="page-heading">Cancel Invoice</h1>
</div>
<div class="container">
    <div class="row wrapper">
        <div class="col-md-5">
            @using (Html.BeginForm("CancelInvoice", "Payments"))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(s=>s.Id);
                <div class="form-horizontal">
                    @Html.ValidationSummary(true)
                    <div class="form-group">
                        <div class="well panel-danger">
                            <p>Cancelling invoice, means that it will no further be shown to the user and user will not be able to pay it.</p>
                            <p>You cannot cancel the invoice, that is currently being processed by the Payment Gate.</p>
                        </div>

                    </div>

                    <div class="form-group">
                        <div class="well panel-info">
                            <p>Please, select action for the corresponding Payment Request</p>
                            <dl>
                                <dt>GenerateNextInvoice</dt>
                                <dd>This will generate next invoice for the Payment Request. If Payment Request is not repetative, or no more invoices should be generated, Payment Request will be archived.</dd>
                                <dt>Cancel</dt>
                                <dd>This will cancel Payment Request and no more invoices will be generated.</dd>
                            </dl>
                        </div>

                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.UserLeaseInfoAction, "Payment Request Action: ", new {@class = "control-label col-md-4"})
                        <div class="col-md-8">
                            @Html.EnumDropDownListFor(s => s.UserLeaseInfoAction)
                            @Html.ValidationMessageFor(model => model.UserLeaseInfoAction)
                        </div>
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Confirm Cancel Invoice" class="btn btn-block btn-danger"/>
                    </div>
                    <div class="space-30"></div>
                    <div class="space-30"></div>
                    <div class="space-30"></div>
                </div>
            }
        </div>
    </div>
</div>

@*
    @section scripts
    {
        <script>

            $('.next')
                .click(function() {

                    var nextId = $(this).parents('.tab-pane').next().attr("id");
                    $('[href=#' + nextId + ']').tab('show');
                    return false;

                })

            $('a[data-toggle="tab"]')
                .on('shown.bs.tab',
                    function(e) {

                        //update progress
                        var step = $(e.target).data('step');
                        var percent = (parseInt(step) / 3) * 100;

                        $('.progress-bar').css({ width: percent + '%' });
                        $('.progress-bar').text("Step " + step + " of 3");

                        //e.relatedTarget // previous tab

                    })

            $('.first')
                .click(function() {
                    $('#@(wizardId) a:first').tab('show');
                })

        </script>

    }
    *@