@model IEnumerable<ApartmentApps.Data.IncidentReport>

@{
    ViewBag.Title = "Index";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Index</h2>
        <ol class="breadcrumb">
            <li class="active">
                <strong>IncidentReport</strong>
            </li>
        </ol>
    </div>
</div>


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>List of IncidentReport</h5>
					<div class="ibox-tools">
						@Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary btn-xs"})
					</div>
                </div>
                <div class="ibox-content">

<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IncidentReportStatus.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Property.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Unit.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.ImageUrl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GroupId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comments)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IncidentType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedOn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompletionDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IncidentReportStatus.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Property.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Unit.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.ImageUrl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GroupId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comments)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IncidentType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedOn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CompletionDate)
        </td>
        <td>
			@Html.ActionLink("Details", "Details", new { id=item.Id }, new { @class = "btn btn-primary btn-sm"})
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }, new { @class = "btn btn-white btn-sm"})
            @Html.ActionLink("Delete", "Delete", new { id=item.Id }, new { @class = "btn btn-white btn-sm"})
        </td>
    </tr>
}

</table>

                </div>
            </div>
        </div>
    </div>
 </div>



