@using System.ComponentModel
@using ApartmentApps.Portal.Controllers
@using Korzh.EasyQuery.Mvc
@model MessageTargetsViewModel
@{
    ViewBag.Title = Model.Subject;
}

<script type="text/javascript">

    // Load the Visualization API and the piechart package.
    //google.load('visualization', '1.0', { 'packages': ['corechart'] });

    //// Set a callback to run when the Google Visualization API is loaded.
    //google.setOnLoadCallback(GoogleVisualizationLoaded);
    window.initialQuery = '@(ViewBag.MessageId.ToString())';
    function GoogleVisualizationLoaded() {
        //alert("Visualization loaded!!!";)
    }
    //Settings for EasyQuery pages
    window.easyQueryViewSettings = {
        showChart: false,
        clearQueryButtonId: "myClearButton"
    };
    window.easyQuerySettings = {
        serviceUrl: getPrefix(),
        loadDefaultModel: true,
        useBootstrap:true

    };

    function getPrefix() {
        return '@(Url.Action("Index")?.Replace("Index",""))';
        //var res = window.location.pathname;
        //if (res.charAt(res.length - 1) !== '/')
        //    res = res + '/';
        //return res;
    }


</script>


<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-12 ">
        <h2><strong>@Model.Subject</strong> Campaign Target Users
        </h2>
        <p>Filter to the users you would like to sent your campaign message to.</p>
    </div>
</div>
<div class="row wrapper border-bottom white-bg page-heading" style="padding-top: 15px; padding-left: 20px;">
    @*<a class="btn btn-warning btn-outline btn-s  modal-link" href="@Url.Action("SearchForm")">Search</a>*@
    <a class="btn btn-success btn-outline btn-s" href="@Url.Action("Index","Messaging")">Back to Campaigns</a>
    <a class="btn btn-success btn-outline btn-s" href="@Url.Action("Entry","Messaging", new {id=Model.Id})">Compose</a>
    <a class="btn btn-success btn-outline btn-s" href="@Url.Action("MessageDetails","Messaging", new {id=Model.Id})">Preview</a>

</div>
<br />
<div class="row">
    <div class="col-md-7">
        <div id="ResultPanel">

        </div>
    </div>
    <div class="col-md-5">
        <div class="ibox">
            <div class="ibox-title">
                <h5>Search</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-wrench"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content" style="padding: 0px;">
                <div id="QueryPanel"></div>
                @*@Html.FilterBar()*@
                <div class="eqjs-fb-buttonsblock">
                    <a href="javascript:void(0)" class="btn btn-primary btn-sm" onclick="EQ.view.grid.applyFilter()">Save/Apply Targets</a>
                    <a href="javascript:void(0)" class="btn btn-default">Clear</a>
                </div>
            </div>
        </div>


    </div>



</div>
