@using System.ComponentModel.DataAnnotations
@using System.Reflection
@using ApartmentApps.Forms
@using ApartmentApps.Portal.Controllers
@model ApartmentApps.Forms.GridModel
@{
    FormPropertyModel idProperty = Model.Properties.FirstOrDefault(p => p.Name.ToLower() == "id");
}

<div class="row table-responsive">

    <table class="table table-striped">
        <thead>
            <tr>
                @foreach (var property in Model.Properties.Where(p => p.Hidden == false))
            {
                <th class="sorting_asc">
                    <a href="@Url.Action("Grid", Html.Controller(), new {page = Model.CurrentPage, orderBy = property.Name, recordsPerPage = Model.RecordsPerPage, descending = !Model.Descending})">@property.Label</a>
                </th>
                }
                @if (Model.Editable && idProperty != null)
            {
                    <th></th>
                }
                @if (Model.Deletable && idProperty != null)
            {
                    <th></th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Items)
            {

                <tr>
                    @foreach (var property in Model.Properties.Where(p => p.Hidden == false))
                    {
                        <td>@property.PropertyInfo.GetValue(item)</td>
                    }
                    @if (Model.Editable && idProperty != null)
                    {
                        <td><a class="btn btn-primary btn-xs modal-link" href="@Url.Action("Entry", new { id = idProperty.PropertyInfo.GetValue(item) })">Edit</a></td>
                    }
                    @if (Model.Deletable && idProperty != null)
                    {
                        <td><a class="btn btn-primary btn-xs modal-link" href="@Url.Action("Delete", new { id = idProperty.PropertyInfo.GetValue(item) })">Delete</a></td>
                    }
                </tr>

            }
        </tbody>




    </table>
    <div>
        <div class="col-md-6"></div>
        <div class="col-md-6">
            <ul class="pagination">
                <li class="paginate_button previous disabled" id="editable_previous"><a href="#" aria-controls="editable" data-dt-idx="0" tabindex="0">Previous</a></li>
                @for (var i = 1; i <= Model.PageCount; i++)
                {
                    <li class="paginate_button @(i == Model.CurrentPage ? "active" : "")">
                        <a href="@Url.Action("Grid", Html.Controller(), new {page = i, orderBy = Model.OrderBy, recordsPerPage = Model.RecordsPerPage, descending = Model.Descending})" aria-controls="editable" data-dt-idx="1" tabindex="0">@i</a>
                    </li>
                }

                <li class="paginate_button next" id="editable_next"><a href="#" aria-controls="editable" data-dt-idx="7" tabindex="0">Next</a></li>
            </ul>
        </div>
    </div>
</div>
