@using ApartmentApps.Data
@model MaintenanceRequestViewModel

@{
    ViewBag.Title = "Details";
    var property = ViewBag.Property as Property;
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-12">
        <h2>Maintenance Request Details</h2>
        <ol class="breadcrumb">
            <li>
                @Html.ActionLink("Maintenance Requests Index", "Index")
            </li>
            <li class="active">
                <strong>Details</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">

                <div class="row animated fadeInRight">
                    <div class="col-md-5">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title vertical-align">


                                <div class='btn-toolbar pull-right'>
                                    <div class='btn-group btn-group-xs'>
                                        <a href="@Url.Action("Print", new {id = Model.Id})" class="btn btn-info btn-xs"><i class="fa fa-fw fa-print"></i>Printable</a>
                                        <a href="@Url.Action("Entry", new {id = Model.Id})" class="btn btn-warning btn-xs modal-link"><i class="fa fa-fw fa-edit"></i>Edit</a>
                                    </div>
                                </div>
                                <h5 >
                                    Request Details
                                </h5>
                            
                            </div>
                            <div>
                                <div class="ibox-content border-left-right">
                                    <img alt="image" class="img-responsive" src="@Model.SubmissionBy.ImageUrl">
                                </div>
                                <div class="ibox-content profile-content">
                                    <h4><strong>@Model.SubmissionBy.FullName</strong></h4>
                                    
                                    <div class="well">
                                        @Model.Comments
                                    </div>
                            
                                    <div>
                                        <p><i class="fa fa-fw fa-asterisk"></i><b>Type</b> @Model.Title</p>
                                        <p><i class="fa fa-fw fa-calendar"></i><b>Requested</b> @Html.Timeago(Model.RequestDate, property?.TimeZone)</p>
                                        <p><i class="fa fa-fw fa-cog"></i><b>Status</b> @Model.StatusId</p>
                                        <p><i class="fa fa-fw fa-map-marker"></i><b>Unit:</b>@Model.UnitName</p>

                                    </div>
                                    <div class="user-button">
                                
                                        <div class="row">

                                            <div class="col-md-12">
                                                <div class="btn-group">

                                                    @if (User.IsInRole("PropertyAdmin") || User.IsInRole("Admin"))
                                                    {
                                                        if (Model.StatusId == "Started" || Model.StatusId == "Paused" || Model.StatusId == "Scheduled")
                                                        {
                                                            <a href="@Url.Action("Complete", new {id = Model.Id})" class="btn btn-primary btn-sm"><i class="fa fa-check fa-fw"></i>Complete</a>
                                                        }

                                                        if (Model.StatusId == "Submitted" || Model.StatusId == "Scheduled")
                                                        {
                                                            <a href="@Url.Action("Start", new {id = Model.Id})" class="btn btn-primary btn-sm"><i class="fa fa-play fa-fw"></i>Start</a>
                                                        }

                                                        if (Model.StatusId == "Submitted" || Model.StatusId == "Paused" || Model.StatusId == "Scheduled")
                                                        {
                                                            <a href="@Url.Action("Schedule", new {id = Model.Id})" class="btn btn-primary btn-sm"><i class="fa fa-calendar fa-fw"></i>Schedule</a>
                                                        }

                                                        if (Model.StatusId == "Started")
                                                        {
                                                            <a href="@Url.Action("Pause", new {id = Model.Id})" class="btn btn-primary btn-sm"><i class="fa fa-pause fa-fw"></i>Pause</a>
                                                        }
                                                    }

                                                </div>
                                            </div>

                                        </div>


                                    </div>
                                    @*<div class="row m-t-lg">
                                        <div class="col-md-4">
                                            <span class="bar" style="display: none;">5,3,9,6,5,9,7,3,5,2</span><svg class="peity" height="16" width="32"><rect fill="#1ab394" x="0" y="7.111111111111111" width="2.3" height="8.88888888888889"></rect><rect fill="#d7d7d7" x="3.3" y="10.666666666666668" width="2.3" height="5.333333333333333"></rect><rect fill="#1ab394" x="6.6" y="0" width="2.3" height="16"></rect><rect fill="#d7d7d7" x="9.899999999999999" y="5.333333333333334" width="2.3" height="10.666666666666666"></rect><rect fill="#1ab394" x="13.2" y="7.111111111111111" width="2.3" height="8.88888888888889"></rect><rect fill="#d7d7d7" x="16.5" y="0" width="2.3" height="16"></rect><rect fill="#1ab394" x="19.799999999999997" y="3.555555555555557" width="2.3" height="12.444444444444443"></rect><rect fill="#d7d7d7" x="23.099999999999998" y="10.666666666666668" width="2.3" height="5.333333333333333"></rect><rect fill="#1ab394" x="26.4" y="7.111111111111111" width="2.3" height="8.88888888888889"></rect><rect fill="#d7d7d7" x="29.7" y="12.444444444444445" width="2.3" height="3.5555555555555554"></rect></svg>
                                            <h5><strong>169</strong> Posts</h5>
                                        </div>
                                        <div class="col-md-4">
                                            <span class="line" style="display: none;">5,3,9,6,5,9,7,3,5,2</span><svg class="peity" height="16" width="32"><polygon fill="#1ab394" points="0 15 0 7.166666666666666 3.5555555555555554 10.5 7.111111111111111 0.5 10.666666666666666 5.5 14.222222222222221 7.166666666666666 17.77777777777778 0.5 21.333333333333332 3.833333333333332 24.888888888888886 10.5 28.444444444444443 7.166666666666666 32 12.166666666666666 32 15"></polygon><polyline fill="transparent" points="0 7.166666666666666 3.5555555555555554 10.5 7.111111111111111 0.5 10.666666666666666 5.5 14.222222222222221 7.166666666666666 17.77777777777778 0.5 21.333333333333332 3.833333333333332 24.888888888888886 10.5 28.444444444444443 7.166666666666666 32 12.166666666666666" stroke="#169c81" stroke-width="1" stroke-linecap="square"></polyline></svg>
                                            <h5><strong>28</strong> Following</h5>
                                        </div>
                                        <div class="col-md-4">
                                            <span class="bar" style="display: none;">5,3,2,-1,-3,-2,2,3,5,2</span><svg class="peity" height="16" width="32"><rect fill="#1ab394" x="0" y="0" width="2.3" height="10"></rect><rect fill="#d7d7d7" x="3.3" y="4" width="2.3" height="6"></rect><rect fill="#1ab394" x="6.6" y="6" width="2.3" height="4"></rect><rect fill="#d7d7d7" x="9.899999999999999" y="10" width="2.3" height="2"></rect><rect fill="#1ab394" x="13.2" y="10" width="2.3" height="6"></rect><rect fill="#d7d7d7" x="16.5" y="10" width="2.3" height="4"></rect><rect fill="#1ab394" x="19.799999999999997" y="6" width="2.3" height="4"></rect><rect fill="#d7d7d7" x="23.099999999999998" y="4" width="2.3" height="6"></rect><rect fill="#1ab394" x="26.4" y="0" width="2.3" height="10"></rect><rect fill="#d7d7d7" x="29.7" y="6" width="2.3" height="4"></rect></svg>
                                            <h5><strong>240</strong> Followers</h5>
                                        </div>
                                    </div>
                                    <div class="user-button">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <button type="button" class="btn btn-primary btn-sm btn-block"><i class="fa fa-envelope"></i> Send Message</button>
                                            </div>
                                            <div class="col-md-6">
                                                <button type="button" class="btn btn-default btn-sm btn-block"><i class="fa fa-coffee"></i> Buy a coffee</button>
                                            </div>
                                        </div>
                                    </div>*@
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>Activity Feed</h5>
                                <div class="ibox-tools">
                                    <a class="collapse-link">
                                        <i class="fa fa-chevron-up"></i>
                                    </a>
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                        <i class="fa fa-wrench"></i>
                                    </a>
                                    <ul class="dropdown-menu dropdown-user">
                                        <li>
                                            <a href="#">Config option 1</a>
                                        </li>
                                        <li>
                                            <a href="#">Config option 2</a>
                                        </li>
                                    </ul>
                                    <a class="close-link">
                                        <i class="fa fa-times"></i>
                                    </a>
                                </div>
                            </div><div class="ibox-content inspinia-timeline">
                                <div class="feed-activity-list">
                                    @Html.Partial("MaintenanceCheckinFeed", Model.Checkins.OrderByDescending(p => p.Date))
                                </div>


                            </div>

                        </div>

                    </div>
                </div>
  

         
        </div>
    </div>
</div>
