@model IEnumerable<ApartmentApps.Data.MaitenanceRequest>

@{
    ViewBag.Title = "Index";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Index</h2>
        <ol class="breadcrumb">
            <li class="active">
                <strong>MaitenanceRequest</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>List of MaitenanceRequest</h5>
                    <div class="ibox-tools">
                        @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary btn-xs" })
                    </div>
                </div>
                <div class="ibox-content">

                    <table class="table table-striped">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.MaitenanceRequestType.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Status.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Unit.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.User.FirstName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.PermissionToEnter)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.PetStatus)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ScheduleDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Message)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.SubmissionDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CompletionDate)
                            </th>
                            <th></th>
                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.MaitenanceRequestType.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Status.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Unit.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.User.FirstName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PermissionToEnter)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PetStatus)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ScheduleDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Message)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SubmissionDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CompletionDate)
                                </td>
                                <td>
                                    @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-primary btn-sm" })
                                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-white btn-sm" })
                                    @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-white btn-sm" })
                                </td>
                            </tr>
                        }

                    </table>

                </div>
            </div>
        </div>
    </div>
</div>
