@using RazorEngine
@inherits RazorEngine.Templating.TemplateBase<ApartmentApps.Portal.Controllers.MaintenanceReportViewModel>
    <!DOCTYPE html>
    <html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Monthly Maintenance Report</title>
        <link href="/Content/bootstrap.min.css")" rel="stylesheet" type="text/css" />
        <link href="/Content/style.css")" rel="stylesheet" type="text/css" />
        <style>
            .table-striped > tbody > tr:nth-of-type(odd) {
                background-color: #f9f9f9;
            }

            td {
                border-right: 1px solid #e7eaec;
                border-left: 1px solid #e7eaec;
            }
        </style>

    </head>

    <body class="md-skin pace-running">
        <center><h3>@Model.PropertyName </h3></center>
        <center><h3>Monthly Maintenance Report: @Model.StartDate.ToString("MM/dd/yyyy") - @Model.EndDate.ToString("MM/dd/yyyy")</h3></center>
        <center>
            <table class="table table-striped" style="width:600px;">
                <tbody style="border-bottom: 1px solid #e7eaec;">
                    <tr>
                        <td style="font-weight:bold;">Total Completed</td>
                        <td>@Model.completed Work Orders</td>
                    </tr>
                    <tr>
                        <td style="font-weight:bold;">Total Paused</td>
                        <td>@Model.paused Work Orders</td>
                    </tr>
                    <tr>
                        <td style="font-weight:bold;">Completed Within 24 hours</td>
                        <td>@Model.within24 Work Orders</td>
                    </tr>
                    <tr>
                        <td style="font-weight:bold;">Completed Within 24-48 hours</td>
                        <td>@Model.within48 Work Orders</td>
                    </tr>
                    <tr>
                        <td style="font-weight:bold;">Completed Within 48-72 hours</td>
                        <td>@Model.within72 Work Orders</td>
                    </tr>
                    <tr>
                        <td style="font-weight:bold;">Completed Within 72+ hours</td>
                        <td>@Model.greaterThan72 Work Orders</td>
                    </tr>                    
                        @foreach (var item in Model.WorkOrdersPerEmployee)
                        {
                            <tr>
                                <td style="font-weight:bold;">@item.Key.FirstName @item.Key.LastName</td>
                                <td>@item.Count() Work Orders</td>
                            </tr>                            
                        }
                    <tr>
                        <td style="height: 38px;"></td>
                        <td></td>
                    </tr>                    
                        @foreach (var item in Model.WorkOrdersPerUnit)
                        {
                            <tr>
                                <td style="font-weight:bold;">@item.Key</td>
                                <td>@item.Count() Work Orders</td>
                            </tr>
                        }                                      
                </tbody>
            </table>
        </center>
    </body>
</html>
