@using ApartmentApps.Data
@using Korzh.EasyQuery.Mvc
@using Korzh.EasyQuery.Services
@model ApartmentApps.Forms.GridList<ApartmentApps.Api.ViewModels.MaintenanceRequestViewModel>

@helper MaintenanceRequestViewModel(MaintenanceRequestViewModel item)
{
    var property = ViewBag.Property as Property;
    <div class="social-feed-box">

       @Html.Partial("_ActionLinks", item)
        <div class="social-avatar">
            <a href="@Url.Action("UserFeed", "Dashboard", new {id = @item.SubmissionBy.Id})" class="pull-left">
                <img alt="image" class="img-circle" src="@item.SubmissionBy.ImageThumbnailUrl">
            </a>

            <div class="media-body">

                <a href="#">
                    <a href="@Url.Action("UserFeed", "Dashboard", new {id = @item.SubmissionBy.Id})">
                        <strong>@@@(item.SubmissionBy.FirstName) @item.SubmissionBy.LastName</strong>
                    </a> Submitted a Work order involving <b>@item.Title</b> <br>
                </a>

            </div>
        </div>
        <div class="social-body">
            <div class="row">
                <div class="col-lg-5">
                    <dl class="dl-horizontal">
                        <dt>Status</dt>
                        <dd>
                            <span class="badge badge-primary">@item.StatusId</span></dd>
                        <dt>Created by:</dt>
                        <dd>
                            <a href="@Url.Action("UserFeed", "Dashboard", new {id = @item.SubmissionBy.Id})">
                                <strong>@@@(item.SubmissionBy.FirstName) @item.SubmissionBy.LastName</strong>
                            </a>
                        </dd>
                        <dt>Location:</dt>
                        <dd><i class="fa fa-map-marker"></i> @item.BuildingName - @item.UnitName</dd>
                        <dt>Assigned to:</dt>

                        @if (item.AssignedTo == null)
                        {
                            <dd>Not Yet Assigned</dd>
                        }
                        else
                        {
                            <dd>
                                <a href="@Url.Action("UserFeed", "Dashboard", new {id = @item.AssignedTo.Id})">
                                    <strong>@@@(item.AssignedTo.FirstName) @item.AssignedTo.LastName</strong>
                                </a>
                            </dd>
                        }

                        @*<dt>Version:</dt>
                            <dd> 	v1.4.2 </dd>*@

                    </dl>
                </div>
                <div class="col-lg-7" id="cluster_info">
                    <dl class="dl-horizontal">

                        <dt>Last Updated:</dt>
                        <dd>

                            @if (item.LatestCheckin != null)
                            {
                                @Html.Timeago(item.LatestCheckin.Date, property?.TimeZone)
                            }
                        </dd>
                        <dt>Created:</dt>
                        <dd>@Html.Timeago(item.RequestDate, property?.TimeZone)</dd>
                        <dt>Tenants:</dt>
                        <dd>

                            @foreach (var tenant in item.Tenants)
                            {
                                <a href="@Url.Action("UserFeed", "Dashboard", new {id = @tenant.Id})">
                                    <strong>@@@(tenant.FirstName) @tenant.LastName</strong>
                                </a>
                                @:<br>
                            }
                        </dd>
                    </dl>
                </div>
            </div>


        </div>
        <div class="social-footer">

            @foreach (var checkin in item.Checkins)
            {
                <div class="social-comment">


                    <a href="@Url.Action("UserFeed", "Dashboard", new {id = @checkin.Worker.Id})" class="pull-left">
                        <img alt="image" style="width: 40px; height: 40px;" class="img-circle" src="@checkin.Worker.ImageThumbnailUrl">
                    </a>

                    <div class="media-body">
                        <a href="#">
                            <span class="badge badge-info">@checkin.StatusId</span> @checkin.Worker.FullName
                        </a>


                        @checkin.Comments
                        <br>
                        @*<a href="#" class="small"><i class="fa fa-thumbs-up"></i> 11 Like this!</a> -*@

                        <small class="text-muted">@Html.Timeago(checkin.Date, property?.TimeZone) - @checkin.Date.ToShortDateString()</small>

                        @if (checkin.Photos != null)
                        {
                            <div class="row">

                                @foreach (var photo in checkin.Photos)
                                {
                                    <div class="col-md-4">
                                        <img src="@photo.Url" style="width: 100%;"/>
                                    </div>
                                }
                            </div>
                        }
                    </div>

                </div>
                <div style="clear: both;"></div>
            }


        </div>

    </div>
}
@{
    var property = ViewBag.Property as Property;
}
@foreach (var item in Model)
{
    @MaintenanceRequestViewModel(item)
}
@Html.PageNavigator(Model as IPaging)