@using ApartmentApps.Data
@model IEnumerable<ApartmentApps.Data.Property>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var property = ViewBag.Property as Property;
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Index</h2>
        <ol class="breadcrumb">
            <li class="active">
                <strong>Property</strong>
            </li>
        </ol>
    </div>
</div>


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>List of Property</h5>
                    <div class="ibox-tools">
                        @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary btn-xs" })
                    </div>
                </div>
                <div class="ibox-content">

                    <table class="table table-striped">
                        <tr>
                            <th>
                                Corporation
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Name)
                            </th>
                            <th></th>
                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Corporation.Name)
                                </td>
                                <td>
                                    @{
                                        if (item != property)
                                        {
                                            @Html.DisplayFor(modelItem => item.Name)
                                        }
                                        else
                                        {
                                            <strong>
                                                @Html.DisplayFor(modelItem => item.Name)
                                            </strong>
                                        }
                                    }
                          
                                </td>
                                <td>
                                

                                    <div class="btn-group">
                                        @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-info btn-xs" })
                                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-primary btn-xs" })
                                    </div>
                      
                                    @if (User.IsInRole("Admin") && item != property)
                                    {
                                        <div class="btn-group">
                                            @Html.ActionLink("Switch", "ChangeProperty", "Account", new { id = item.Id }, new { @class = "btn btn-primary btn-xs" })
                                        </div>
                                    }


                               
                                    <div class="btn-group  pull-right">
                                        @*@if (User.IsInRole("Admin"))
                                        {
                                            @Html.ActionLink("Import Entrata Data", "ImportEntrata", new { id = item.Id }, new { @class = "btn btn-warning btn-xs" })
                                        }*@
                                        @Html.ActionLink("Delete", "Delete", new {id = item.Id}, new {@class = "btn btn-danger btn-xs"})
                                    </div>








                                </td>
                            </tr>
                        }

                    </table>

                </div>
            </div>
        </div>
    </div>
</div>
