@using ApartmentApps.Api.Modules
@using ApartmentApps.Portal.Controllers
@model MessageViewModel
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-12">
        <h2>Message Details - @Model.Title</h2>
        <ol class="breadcrumb">
            <li class="active">
                @*<strong>@Model.StartDate.Value.ToShortDateString() - @Model.EndDate.Value.ToShortDateString()</strong>*@
            </li>
        </ol>
    </div>
</div>
<div class="row wrapper border-bottom white-bg page-heading" style="padding-top: 15px; padding-left: 20px;">
    @*<a class="btn btn-warning btn-outline btn-s  modal-link" href="@Url.Action("SearchForm")">Search</a>*@
    <a class="btn btn-success btn-outline btn-s" href="@Url.Action("Index", "Messaging")">Back to Campaigns</a>
    <a class="btn btn-success btn-outline btn-s" href="@Url.Action("Entry","Messaging", new {id=Model.Id})">Compose</a>
    <a class="btn btn-success btn-outline btn-s" href="@Url.Action("SelectTargets","CampaignTargets", new {messageId=Model.Id})">Select Targets</a>
    <a class="btn btn-primary btn-s" href="@Url.Action("SendMessage","Messaging", new {messageId=Model.Id})">Send Now</a>

</div>
<br />
<div class="row">
    <div class="col-lg-8">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Preview</h5>
            </div>
            <div class="ibox-content">
                @Html.Raw(Model.Body)
            </div>
        </div>
    </div>
    @if (Model.Status == MessageStatus.Sent)
    {
        <div class="col-lg-4">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Delivered To</h5>
                    </div>
                    <div class="ibox-content">
                        @Model.DeliverCount

                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Sent To</h5>
                    </div>
                    <div class="ibox-content">
                        @Model.SentToCount
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Campaign Targets</h5>
                    </div>
                    <div class="ibox-content">
                        @Model.TargetsCount Users
                        @Model.TargetsDescription
                    </div>
                </div>
            </div>
        </div>
    }
    else if (Model.Status == MessageStatus.Sending)
    {
        <div class="col-lg-4">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Please Wait</h5>
                    </div>
                    <div class="ibox-content">
                        Your message is currently sending.  Please allow up to 5 minutes for it to process.  More details will be available once it has complete.
                    </div>
                </div>
            </div>
        </div>
    }
    else if (Model.Status == MessageStatus.Error)
    {
        <div class="col-lg-4">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Error Sending</h5>
                    </div>
                    <div class="ibox-content">
                        @Model.ErrorMessage
                    </div>
                </div>
            </div>
        </div>
    }
    else if (Model.Status == MessageStatus.Draft)
    {
        @*<div class="col-lg-4">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Error Sending</h5>
                    </div>
                    <div class="ibox-content">
                        @Model.ErrorMessage
                    </div>
                </div>
            </div>
        </div>*@
    }


</div>
<div class="row">

    
</div>
@if (Model.Status == MessageStatus.Sent)
{
    <div class="row">
        <div class="col-md-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Receipts</h5>
                </div>
                <div class="ibox-content">
                    <table class="table table-hover table-mail">
                        <thead>
                            <tr>
                                <th>
                                    Email
                                </th>
                                <th>Building</th>
                                <th>Unit</th>
                                <th>Error</th>
                                <th>Error Message</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Receipts)
                            {
                                <tr>
                                    <td>@item.UserEmail</td>
                                    <td>@item.BuildingNumber</td>
                                    <td>@item.UnitNumber</td>
                                    <td>@item.Error</td>
                                    <td>@item.ErrorMessage</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
}



<div class="clear-fix"></div>
