@model IQueryable<ApartmentApps.Data.MaitenanceRequest>
@{
    ViewBag.Title = "Mobile View";
    Layout = "~/Views/Shared/_MobileClientViewLayout.cshtml";
}

<p class="res-indicator">[DEV] Styling for media: </p>

@foreach (var item in Model.GroupBy(p => p.StatusId).ToArray())
{
    <div class="request-list-section">
            <h3 class="section-header-text">@item.Key</h3>
        @foreach (var request in item)
        {
        <div class="row request-list-item-container">
            <div class="col-md-6 request-list-item">
                <div class="media">
                    @*<img class="request-list-icon pull-left" style="" src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSFeON1utbyA3AOgrwDIyUnQAzeQCAr20mpKWNZhLH1PMTPrMKh" />*@
                    <div class="media-body">
                        
                        <h2 class="request-header-text"><a href="Request/@request.Id">@request.MaitenanceRequestType.Name</a>
                        </h2>

                        <div>
                 
                            @if (request.Unit != null)
                            {
                                <p>Building: @request.Unit.Building.Name Unit: @request.Unit.Name </p>
                                <hr/>
                            }

                            <p>Comments: @request.Message</p>

                            <div class="request-list-item-gallery">
                                <img src="https://openmerchantaccount.com/img2/-text.png"/>
                                <img src="https://openmerchantaccount.com/img2/-text.png"/>
                            </div>
                            <hr/>
                            <small>@(request.ScheduleDate?.ToString("g") ?? "Submitted")</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        }
    </div>
}

